<template>
  <div class="gv-body-wrapper">
   <Header />
    <article
      id="post-10874"
      class="post-10874 post type-post status-publish format-standard has-post-thumbnail hentry category-askgaryvee category-life-lessons"
    > 
      <ArticleDetail />
      <div class="gv-single-wrapper">
        <div class="container">
          <div class="row">
            <div class="gv-single-content col-md-8">
              <h1 class="gv-ctrl-title gv-liner">
                <a href="index.html" title="A Letter I Wrote In A Locker Room"
                  >A Letter I Wrote In A Locker Room</a
                >
              </h1>

              

              <div class="gv-post-author row">
                <div class="col-xs-12 col-sm-7">
                  <div class="gv-post-avatar">
                    <img
                      src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20151106222227/Gary_Vaynerchuk_thumbnail.jpg"
                      width="96"
                      height="96"
                      alt="Garyvee"
                      class="avatar avatar-96 wp-user-avatar wp-user-avatar-96 alignnone photo"
                    />
                  </div>
                  <div class="gv-post-author-links">
                    <h5 class="gv-h-slab">
                      by
                      <a
                        href="http://garyvaynerchuk.com/biography"
                        target="_blank"
                        class="link-blue link-www"
                        >Garyvee</a
                      >
                    </h5>
                    <h5 class="gv-h-slab">
                      <a
                        class="sl-twitter"
                        href="http://twitter.com/garyvee"
                        target="_blank"
                      >
                        <i class="fa fa-twitter"></i>
                        <span class="sl-twitter-handle">@garyvee</span>
                      </a>
                    </h5>
                  </div>
                </div>







                <div class="col-xs-12 col-sm-5">
                  <div class="gv-post-sharing topbar">
                    <div class="row">
                      <div class="col-xs-3">
                        <a
                          href="#"
                          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
                          data-platform="facebook"
                          class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb"
                          title="Share on Facebook"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </div>
                      <div class="col-xs-3">
                        <a
                          href="#"
                          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
                          data-platform="twitter"
                          class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw"
                          title="Tweet on Twitter"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </div>
                      <div class="col-xs-3">
                        <a
                          href="#"
                          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
                          data-platform="linkedin"
                          class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in"
                          title="Share on LinkedIn"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </div>
                      <div class="col-xs-3">
                        <a
                          href="#"
                          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
                          data-platform="pinterest"
                          class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-pin"
                          title="Share on Pinterest"
                          ><i class="fa fa-pinterest"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                  <h6 class="gv-h-slab gv-post-date text-right">
                    2 months ago <span class="middot">&middot;</span> 7 min read
                  </h6>
                </div>
              </div>










              <div class="gv-post-content clearfix">
                <p>Hey VaynerNation,</p>

                <p>
                  &nbsp;I’m turning forty-five today. With that in mind, I’ve
                  started to really think about the next forty-five years,
                  because ninety feels about right for me to hang up my jersey.
                  For the first time in my brain, I’m picturing life after
                  ninety and I can imagine life would be different afterward.
                </p>

                <span id="more-10874"></span>

                <p>
                  That being said, I’ll probably work well into my eighties. So
                  what does that mean? If I retire at ninety then forty-five is
                  halftime, right? It’s such an interesting age for me, it feels
                  like I’m walking back into the field after halftime this
                  Saturday.&nbsp;
                </p>

                <p>And that makes me feel incredible.&nbsp;</p>

                <p>
                  I feel forty-five to fifty is when I’m at my most powerful. If
                  this analogy plays out, the next half-decade may end up being
                  the greatest part of my decade. They’re going to be my half
                  time adjustments. I’ve been feeling it&#8230;I feel like I am
                  sensing smoke. I feel like forty-three to forty-five has all
                  been one big game of halftime adjustments. I’ve become more
                  self aware, more aware of my shortcomings, more willing to
                  talk about shit, dirt, and how it all relates to the
                  process.&nbsp;
                </p>

                <p>
                  Let me explain. I use the term “smoke to fire” as some may use
                  “percolating to action”. I also use the analogy (and use a lot
                  of analogies) of having thirty-one balls in the air and
                  dropping seven. The reason I can hold twenty-four balls in the
                  air is because I’m always sensing smoke. I’m always ideating
                  and I’m always adding another layer.
                  Then&#8211;boom&#8211;people can watch how it happens. Some
                  may only see the last piece, the final fire; but if they look
                  closely, they can see it build.
                </p>

                <p>
                  This is different from the idea behind “blood in the water”.
                  Being able to sense smoke is a process that I’m finally
                  getting to to break down for you.
                </p>

                <p>It’s about efficiency.</p>

                <p>
                  This letter is about productivity more than anything else.
                  People use tools for efficiencies while I use emotions,
                  perspective, and insight. It’s because a lack of fear makes
                  you more productive. You need to have a tremendous
                  relationship with time and understand that in order to make
                  progress you must not fear ideation. Productivity doesn’t have
                  to be Slack or any other app. Some people are like me and I’m
                  not a literal, productive person. I’m a theoretical,
                  emotionally productive person. I’ve never mentioned or
                  admitted that to myself.&nbsp;
                </p>

                <p>
                  You can do so many things if you are always in “smoke” mode.
                  There’s one idea and then there’s another idea. Don’t be
                  afraid to ideate and create. That’s where I’m going with this
                  theory.
                </p>

                <p>
                  Maybe we should create a new genre of emotional productivity.
                  That’s what I feel I’m embarking on. Maybe I’ll write a book
                  in 7 years and that will be the most impactful, “educational”
                  thing I’ve ever done. Again, I’m always ideating, I’m doing it
                  right now as I write. I’ll take something from this sit down
                  that may help me with Wine Text. Or, I’ll take something from
                  a Gallery Media or One37pm meeting that’s gonna help me in my
                  speaking career&#8230;smoke to fire is a constant for
                  me.&nbsp;
                </p>

                <p>
                  Someone tagged me in something earlier, before I wrote this.
                  It said that group thinking was better than individual
                  thinking. It made me think, do I internalize most things as a
                  group of people would? Rather than just me the individual.
                  Maybe I’ve always been a
                  <a
                    href="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/"
                    >Post Creative Strategist</a
                  >
                  and never realized it.
                </p>

                <p>
                  What I mean is, I’m a human feedback loop. It’s how I navigate
                  through my content and it’s how a lot of small businesses can
                  navigate through their own content. Having more people around
                  gives me more energy because that’s basically more ways to get
                  feedback. It’s probably why I have a comedic style to my
                  keynotes, because laughter is such an affirmation. Maybe it’s
                  the reason why I curse so much? I’ve never thought this
                  through&#8230;It also could be because I love Richard Pryor
                  and Chris Rock.&nbsp;
                </p>

                <p>
                  Regardless, when I curse the first time, I always use that
                  reaction to gauge my language. Using emotion and empathy when
                  communicating adds to the “smoke”&#8230;it’ll help you
                  continue to make adjustments at half-time.
                </p>

                <p>
                  Keep in mind, in life some things are earned and others are
                  natural. Not everyone is a natural ideator. However, you can
                  work to eventually “earn” empathy and communication skills.
                  There is value in working toward something that doesn&#8217;t
                  come naturally to you. I know that after going through a
                  physical health transformation.&nbsp;
                </p>

                <p>I’m the least naturally healthy person there is.&nbsp;</p>

                <p>
                  From thirty-two on, when I gained ten pounds fast, I said,
                  <em>Uh oh</em>. My grandfather died from heart disease and I
                  feel like I’m built just like him. So, from thirty-two to
                  thirty-eight, I had four different trainers. Let’s just say
                  that didn’t work out. Still, It was more than what I was doing
                  in my twenties. As I started to travel more, the conversation
                  of <em>let’s get my health together</em> started hitting me
                  like a drop in the bucket each time I thought about it. It was
                  like a puff of smoke, or a small spark to a fire.
                </p>

                <p>
                  But then it clicked. I realized I needed a teammate. Everyone
                  needs a team and no one can do it on their own. I now
                  recognize that I need a human to hold myself accountable, a
                  teammate who knew she or he could depend on me, because the
                  worst feeling is letting someone down.
                </p>

                <p>
                  I remember that day. I was thirty-eight going on thirty-nine.
                  As I boarded that plane I decided&#8230;I’m doing this. And
                  when I got off the plane, that’s what I did. Smoke to fire.
                  Six years of convos, five failed trainer attempts, and monthly
                  conversations with myself. In the days leading up to the plane
                  ride multiple, daily, quick thoughts. Smoke.&nbsp;
                </p>

                <p>
                  What do I want you to take from this? My mom says it all the
                  time, she thinks she’s all smoke and no fire. What I have is
                  action.The question is, what is it in me that pushes me to
                  act&#8230;because people get to ninety-nine and they’re still
                  trying to fix their issues.
                </p>

                <p>
                  I’m so tired of people not doing things because they’re afraid
                  of “wasting time”. I find that most people’s time who say “<em
                    >oh that’s a waste of time</em
                  >”&#8211;their time is the least valuable. It’s such a bad
                  excuse. These free flowing conversations are how you get to
                  ideas. Everyone is so structured. School, being too
                  regimented, took away the creativity of many.&nbsp;&nbsp;
                </p>

                <p>
                  What I notice about myself is, I don’t conform to norms. I’m
                  willing to be flexible with time and my resources. I’m always
                  listening even though I talk a lot, which is why video
                  conferencing works for me, I need to see the reaction to what
                  I say. I’m always looking for feedback loops.&nbsp;
                </p>

                <p>
                  Maybe my definition of smoke needs to have another layer
                  behind it, maybe in order to truly get to a smoke and fire
                  process you must be self-aware, honest, and hold yourself
                  accountable. Most people do things on autopilot because they
                  assume that if there’s a meeting in their calendar they must
                  do it (especially these days on these virtual meetings).&nbsp;
                </p>

                <p>
                  The next time you’re in a meeting pay attention to your
                  senses. If within the first 13 seconds you feel that the
                  meeting you’re in doesn’t meet the needs of what you’re trying
                  to accomplish (smoke), change it (fire).&nbsp;
                </p>

                <p>
                  Focus on your intuition and natural talent. Work on the things
                  you’re not naturally good at. I think many people are in smoke
                  mode and blame other people for not starting a fire. In life,
                  maybe before halftime, you have to start the fire.
                </p>
              </div>
              <!-- <div class="gv-post-footer">
                <div class="gv-post-sharing clearfix">
                  <div class="col-xs-4 col-sm-3">
                    <a
                      href="#"
                      data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
                      data-platform="facebook"
                      class="gv-ctrl-share gv-btn gv-btn-block gv-btn-s-fb"
                      title="Share on Facebook"
                    >
                      <i class="fa fa-facebook"></i>
                    </a>
                  </div>
                  <div class="col-xs-4 col-sm-3">
                    <a
                      href="#"
                      data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
                      data-platform="twitter"
                      class="gv-ctrl-share gv-btn gv-btn-block gv-btn-s-tw"
                      title="Tweet on Twitter"
                    >
                      <i class="fa fa-twitter"></i>
                    </a>
                  </div>
                  <div class="hidden-xs col-sm-3">
                    <a
                      href="#"
                      data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
                      data-platform="linkedin"
                      class="gv-ctrl-share gv-btn gv-btn-block gv-btn-s-in"
                      title="Share on LinkedIn"
                    >
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                  <div class="col-xs-4 col-sm-3">
                    <a
                      href="#overlay-share|modal-open"
                      class="gv-btn gv-btn-block gv-btn-red gv-modal-ctrl"
                      title="Share"
                    >
                      <span class="hidden-xs">Share&nbsp;&nbsp;</span>
                      <i class="fa fa-share"></i>
                    </a>
                  </div>
                </div>

                <div class="gv-post-comments">
                  <div
                    class="fb-comments"
                    data-width="100%"
                    data-href="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
                    data-numposts="10"
                  ></div>
                </div>


                <div class="gv-post-tags">
                  <a
                    href="https://www.garyvaynerchuk.com/category/askgaryvee/"
                    class="link-blue"
                    >#AskGaryVee</a
                  >
                  <a
                    href="https://www.garyvaynerchuk.com/category/life-lessons/"
                    class="link-blue"
                    >#Life Lessons</a
                  >
                </div>
              </div> -->
              <!-- <div class="gv-post-suggested">
                <h3 class="gv-h-welter50">Check this out</h3>
                <article
                  id="post-10863"
                  class="gv-post post-10863 post type-post status-publish format-standard has-post-thumbnail hentry category-askgaryvee category-life-lessons"
                >
                  <div class="gv-post-img">
                    <a
                      href="https://www.garyvaynerchuk.com/the-18-to-28-debate-is-college-worth-it/"
                    >
                      <img
                        src="https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_62696679D1F5-1-700x560.jpeg"
                        class="attachment-large size-large wp-post-image"
                        alt=""
                        srcset="
                          https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_62696679D1F5-1-700x560.jpeg  700w,
                          https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_62696679D1F5-1-250x200.jpeg  250w,
                          https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_62696679D1F5-1-768x614.jpeg  768w,
                          https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_62696679D1F5-1-120x96.jpeg   120w,
                          https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_62696679D1F5-1.jpeg         1400w
                        "
                        sizes="(max-width: 700px) 100vw, 700px"
                      />
                    </a>
                  </div>
                  <div class="row clearfix gv-post-sharemeta">
                    <div class="col-sm-5 col-md-6 gv-post-tags">
                      <a
                        href="https://www.garyvaynerchuk.com/category/askgaryvee/"
                        class="link-blue"
                        >#AskGaryVee</a
                      >
                      <a
                        href="#"
                        data-permalink="https://www.garyvaynerchuk.com/the-18-to-28-debate-is-college-worth-it/"
                        class="gv-btn gv-btn-white gv-post-mobileshare pull-right visible-xs-inline-block"
                      >
                        Share <i class="fa fa-share"></i>
                      </a>
                    </div>
                    <div
                      class="col-xs-5 col-sm-6 col-md-6 pull-right text-right"
                    >
                      <div class="gv-post-sharing hidden-xs">
                        <div class="row">
                          <div class="col-xs-4">
                            <a
                              href="#"
                              data-permalink="https://www.garyvaynerchuk.com/the-18-to-28-debate-is-college-worth-it/"
                              data-platform="facebook"
                              class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-fb"
                              title="Share on Facebook"
                              ><i class="fa fa-facebook"></i
                            ></a>
                          </div>
                          <div class="col-xs-4">
                            <a
                              href="#"
                              data-permalink="https://www.garyvaynerchuk.com/the-18-to-28-debate-is-college-worth-it/"
                              data-platform="twitter"
                              class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-tw"
                              title="Tweet on Twitter"
                              ><i class="fa fa-twitter"></i
                            ></a>
                          </div>
                          <div class="col-xs-4">
                            <a
                              href="#"
                              data-permalink="https://www.garyvaynerchuk.com/the-18-to-28-debate-is-college-worth-it/"
                              data-platform="linkedin"
                              class="gv-ctrl-share gv-btn gv-btn-block gv-btn-short gv-btn-s-in"
                              title="Share on LinkedIn"
                              ><i class="fa fa-linkedin"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-sm-6">
                      <h1 class="gv-ctrl-title gv-post-title gv-liner-simple">
                        <a
                          href="https://www.garyvaynerchuk.com/the-18-to-28-debate-is-college-worth-it/"
                          >The 18 to 28 Debate: Is College Worth It?</a
                        >
                      </h1>
                    </div>
                    <div class="col-sm-6 text-left">
                      <h5 class="gv-h-slab gv-post-date">
                        2 months ago <span class="middot">&middot;</span> 7 min
                        read
                      </h5>
                      <p>
                        The world is changing, and it’s important to acknowledge
                        that certain long held beliefs should be re-examined. So
                        many of us are stuck doing things in an outdated way and
                        it’s only leading us to unhappiness. With that in mind,
                        let’s rethink the paths people can take from ages 18...
                      </p>
                      <p>
                        <a
                          href="https://www.garyvaynerchuk.com/the-18-to-28-debate-is-college-worth-it/"
                          class="gv-post-permalink link-blue"
                          >Read More &gt;&gt;</a
                        >
                      </p>
                    </div>
                  </div>
                </article>
              </div> -->
            </div>




            <!-- sidebar -->



            <div class="col-md-4">
              <div class="gv-widget clearfix">
                <div class="gv-widget-mailinglist sidebar">
                  <h2 class="h1 text-right">
                    <p>
                      Subscribe <span class="nobreak">for access</span>
                      <span class="nobreak">to exclusive</span> content.
                    </p>
                  </h2>
                  <div class="gv-form">
                    <div class="gv-widget-alert">
                      <span class="message">Lorem Ipsum Dolor Test</span
                      ><a href="#alert:dismiss" class="gv-widget-ctrl close"
                        >&times;</a
                      >
                    </div>
                    <form name="gv-mc-sidebar">
                      <div class="clear text-right">
                        <a
                          href="http://eepurl.com/LY3M5"
                          target="_blank"
                          class="gv-btn gv-btn-red"
                          >Subscribe</a
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>


              <div
                id="gv_widgets_socialprops-2"
                class="gv-widget gv-widget-socialprops clearfix text-center"
              >
                <div class="sidebar-c-5">
                  <span class="wrap-social-item">
                    <a
                      class="sp-circle sp-facebook"
                      href="http://facebook.com/gary"
                      alt=""
                      target="_blank"
                    >
                      <i class="fa fa-facebook"></i>
                    </a>
                  </span>
                  <span class="wrap-social-item">
                    <a
                      class="sp-circle sp-youtube"
                      href="https://www.youtube.com/user/garyvaynerchuk?sub_confirmation=1"
                      alt=""
                      target="_blank"
                    >
                      <i class="fa fa-youtube"></i>
                    </a>
                  </span>
                  <span class="wrap-social-item">
                    <a
                      class="sp-circle sp-instagram"
                      href="http://instagram.com/garyvee"
                      alt=""
                      target="_blank"
                    >
                      <i class="fa fa-instagram"></i>
                    </a>
                  </span>
                  <span class="wrap-social-item">
                    <a
                      class="sp-circle sp-twitter"
                      href="http://twitter.com/garyvee"
                      alt=""
                      target="_blank"
                    >
                      <i class="fa fa-twitter"></i>
                    </a>
                  </span>
                  <span class="wrap-social-item">
                    <a
                      class="sp-circle sp-snapchat"
                      href="http://snapchat.com/add/garyvee"
                      alt=""
                      target="_blank"
                    >
                      <i class="fa fa-snapchat"></i>
                    </a>
                  </span>
                </div>
              </div>

<!-- 

              <div class="gv-widget gv-widget-articleunit">
                <div class="gv-articleunit">
                  <h4 class="gv-h-welter50 text-right">Must Read</h4>
                  <div class="gv-articleunit-content">
                    <div class="gv-articleunit-thumb">
                      <a
                        href="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/"
                      >
                        <img
                          src="https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200918143622/IMG_2F18783D00EC-1-400x234.jpeg"
                          class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                          alt=""
                          srcset="
                            https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200918143622/IMG_2F18783D00EC-1-400x234.jpeg 400w,
                            https://s3.amazonaws.com/gv2016wp/wp-content/uploads/20200918143622/IMG_2F18783D00EC-1-300x175.jpeg 300w
                          "
                          sizes="(max-width: 400px) 100vw, 400px"
                        />
                      </a>
                    </div>
                    <h3 class="h2 gv-liner-simple">
                      <a
                        href="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/"
                      >
                        The Definition Of A Post Creative Strategist
                      </a>
                    </h3>
                  </div>
                  <div class="gv-articleunit-footer">
                    <span class="gv-articuleunit-date"> Sep 18, 2020 </span>
                    <a
                      href="https://www.garyvaynerchuk.com/the-definition-of-a-post-creative-strategist/"
                    >
                      Read Now >>
                    </a>
                  </div>
                </div>
              </div> -->


              <!-- <div class="gv-widget gv-widget-articleunit">
                <div class="gv-articleunit">
                  <h4 class="gv-h-welter50 text-right">Must Read</h4>
                  <div class="gv-articleunit-content">
                    <div class="gv-articleunit-thumb">
                      <a
                        href="https://www.garyvaynerchuk.com/what-you-need-to-know-about-linkedin-stories/"
                      >
                        <img
                          src="https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_A766477D230C-1-400x234.jpeg"
                          class="attachment-ad-unit-size size-ad-unit-size wp-post-image"
                          alt=""
                          srcset="
                            https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_A766477D230C-1-400x234.jpeg 400w,
                            https://2pyzcd2sdlnr1r3xjh15mrbn-wpengine.netdna-ssl.com/wp-content/uploads/IMG_A766477D230C-1-300x175.jpeg 300w
                          "
                          sizes="(max-width: 400px) 100vw, 400px"
                        />
                      </a>
                    </div>
                    <h3 class="h2 gv-liner-simple">
                      <a
                        href="https://www.garyvaynerchuk.com/what-you-need-to-know-about-linkedin-stories/"
                      >
                        What you need to know about LinkedIn Stories
                      </a>
                    </h3>
                  </div>
                  <div class="gv-articleunit-footer">
                    <span class="gv-articuleunit-date"> Oct 06, 2020 </span>
                    <a
                      href="https://www.garyvaynerchuk.com/what-you-need-to-know-about-linkedin-stories/"
                    >
                      Read Now >>
                    </a>
                  </div>
                </div>
              </div> -->


              <div class="clearfix"></div>
              <div class="gv-widget gv-widget-events theme-black">
                <h3 class="h1">Upcoming Events</h3>
                <div class="event-listing">
                  <div class="clearfix event event-2-col">
                    <a
                      href="https://www.abcreativex.com/"
                      class="event-linker"
                      target="_blank"
                    >
                      <div class="widget-event-date text-center">
                        <div class="h3 gv-h-welter50">Jan</div>
                        <div class="h2 gv-h-welter50">28</div>
                      </div>
                      <div class="widget-event-title">
                        <h3 class="event-title">Anheuser-Busch Creative X</h3>
                        <h4 class="event-location">Virtual</h4>
                      </div>
                      <div class="widget-event-info">
                        <a
                          href="https://www.abcreativex.com/"
                          target="_blank"
                          class="gv-btn gv-btn-blue gv-btn-block"
                          >Info</a
                        >
                      </div>
                    </a>
                  </div>

                  <div class="clearfix event event-2-col">
                    <a
                      href="https://events.getjobber.com/events/details/jobber-jobber-professional-development-day-presents-jobber-professional-development-day/#/"
                      class="event-linker"
                      target="_blank"
                    >
                      <div class="widget-event-date text-center">
                        <div class="h3 gv-h-welter50">Mar</div>
                        <div class="h2 gv-h-welter50">24</div>
                      </div>
                      <div class="widget-event-title">
                        <h3 class="event-title">
                          Jobber Professional Development Day
                        </h3>
                        <h4 class="event-location">Virtual</h4>
                      </div>
                      <div class="widget-event-info">
                        <a
                          href="https://events.getjobber.com/events/details/jobber-jobber-professional-development-day-presents-jobber-professional-development-day/#/"
                          target="_blank"
                          class="gv-btn gv-btn-blue gv-btn-block"
                          >Info</a
                        >
                      </div>
                    </a>
                  </div>

                  <div class="clearfix event event-2-col">
                    <a
                      href="https://nobull2020.com/"
                      class="event-linker"
                      target="_blank"
                    >
                      <div class="widget-event-date text-center">
                        <div class="h3 gv-h-welter50">Apr</div>
                        <div class="h2 gv-h-welter50">08</div>
                      </div>
                      <div class="widget-event-title">
                        <h3 class="event-title">
                          The No Bull Business Conference
                        </h3>
                        <h4 class="event-location">Syracuse, NY</h4>
                      </div>
                      <div class="widget-event-info">
                        <a
                          href="https://nobull2020.com/"
                          target="_blank"
                          class="gv-btn gv-btn-blue gv-btn-block"
                          >Info</a
                        >
                      </div>
                    </a>
                  </div>

                  <div class="clearfix event event-2-col">
                    <a
                      href="https://grit.trixstar.com/"
                      class="event-linker"
                      target="_blank"
                    >
                      <div class="widget-event-date text-center">
                        <div class="h3 gv-h-welter50">Apr</div>
                        <div class="h2 gv-h-welter50">29</div>
                      </div>
                      <div class="widget-event-title">
                        <h3 class="event-title">
                          GRIT Series Presents An Evening with Gary Vaynerchuk
                        </h3>
                        <h4 class="event-location">Edmonton, AB, Canada</h4>
                      </div>
                      <div class="widget-event-info">
                        <a
                          href="https://grit.trixstar.com/"
                          target="_blank"
                          class="gv-btn gv-btn-blue gv-btn-block"
                          >Info</a
                        >
                      </div>
                    </a>
                  </div>
                </div>
                <div class="event-widget-footer text-center">
                  <a
                    href="#"
                    id="cal-reply-subscribe"
                    class="gv-btn gv-btn-blue gv-btn-block"
                    target="_blank"
                    title="Subscribe on CalReply"
                  >
                    <i class="fa fa-calendar-check-o hidden-md"></i
                    >&nbsp;&nbsp;Get Notifications
                  </a>
                </div>
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- <div id="overlay-share" class="gv-overlay gv-overlay-black">
      <a
        href="#overlay-share|modal-close"
        class="gv-modal-ctrl gv-close gv-close-gray visible-xs-inline-block"
        >×</a
      >
      <div class="social-container">
        <a
          href="#"
          data-title="A Letter I Wrote In A Locker Room"
          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
          data-platform="facebook"
          class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-facebook"
          title="Share on Facebook"
        >
          <i class="fa fa-facebook"></i>
        </a>
        <a
          href="#"
          data-title="A Letter I Wrote In A Locker Room"
          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
          data-platform="twitter"
          class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-twitter"
          title="Share on Twitter"
        >
          <i class="fa fa-twitter"></i>
        </a>
        <a
          href="#"
          data-title="A Letter I Wrote In A Locker Room"
          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
          data-platform="linkedin"
          class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-linkedin"
          title="Share on LinkedIn"
        >
          <i class="fa fa-linkedin"></i>
        </a>
        <a
          href="#"
          data-title="A Letter I Wrote In A Locker Room"
          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
          data-platform="pinterest"
          data-media="https://www.garyvaynerchuk.com/wp-content/uploads/fce25fc26b97c142a260c4a43b3ea1b5.jpg"
          class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-pinterest"
          title="Share on Pinterest"
        >
          <i class="fa fa-pinterest"></i>
        </a>
        <a
          href="#"
          data-title="A Letter I Wrote In A Locker Room"
          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
          data-platform="googleplus"
          class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-google"
          title="Share on Google+"
        >
          <i class="fa fa-google-plus"></i>
        </a>
        <a
          href="#"
          data-title="A Letter I Wrote In A Locker Room"
          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
          data-platform="reddit"
          class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-reddit"
          title="Share on Reddit"
        >
          <i class="fa fa-reddit"></i>
        </a>
        <a
          href="#"
          data-title="A Letter I Wrote In A Locker Room"
          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
          data-platform="stumble"
          class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-stumble"
          title="Share on StumbleUpon"
        >
          <i class="fa fa-stumbleupon"></i>
        </a>
        <a
          href="#"
          data-title="A Letter I Wrote In A Locker Room"
          data-permalink="https://www.garyvaynerchuk.com/a-letter-i-wrote-in-a-locker-room/"
          data-platform="email"
          class="gv-ctrl-share gv-btn gv-btn-s-gb gv-round sp-circle sp-email"
          title="Email Us"
        >
          <i class="fa fa-envelope"></i>
        </a>
        <a
          href="#overlay-share|modal-close"
          class="gv-modal-ctrl gv-close gv-close-gray hidden-xs"
          >×</a
        >
      </div>
    </div> -->

    <Footer/>
  </div>
</template>
<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import Footer from '../components/Footer'
import Header from '../components/Header'
import ArticleDetail from '../components/ArticleDetail'

export default {
  components:{
    Header,
    Footer,
    ArticleDetail
  },
  data() {
    return {
      faq_list: [],
    };
  },
  async mounted() {
    await fetch("http://13.126.127.160:3000/general")
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        console.log(data, data.data.faq_list);
        this.faq_list = data.data.faq_list;
      });
  },
};
</script>
