<template>
  <div class="gv-pagination-wrapper">
    <div class="gv-pagination collapse-right">
      <span aria-current="page" class="page-numbers current">1</span
      ><a class="page-numbers" href="page/2/index.html">2</a
      ><a class="page-numbers" href="page/3/index.html">3</a
      ><a class="page-numbers" href="page/4/index.html">4</a
      ><a class="page-numbers" href="page/5/index.html">5</a
      ><span class="page-numbers dots">&hellip;</span
      ><a class="page-numbers" href="page/105/index.html">105</a
      ><a class="next page-numbers" href="page/2/index.html">&gt;&gt;</a>
    </div>
  </div>
</template>

<script>
export default {

  name: "SocialIcon",
  props: ["wrapClass", "linkWrapClass", "iconClass"]
  
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

