.btn_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    cursor: pointer;
}
.success-message {
    text-align: center;
    color: #279c27;
    font-weight: 600;
}
.gv-mark-type {
    font-size: 23px;
    max-width: 300px;
}
.gv-cta-community img {
    border-radius: 50%;
}
.gv-footer .gv-mark-type {
    font-size: 25px;
    line-height: 24pt;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 0;
    padding-left: 0;
}
.gv-btn.gv-btn-red.disabled {
    background: #b76b67;
    opacity: 0.6;
    pointer-events: none;
}
.custom-select {
    width: 68%;
}
.custom-select-main {
    display: flex;
    justify-content: space-evenly;
    width: 26%;
}

.gv-nav-wrapper {
    background: #000;
    color: #fff;
    display: block;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 900;
}
li.menu-item a {
    width: 100% !important;
    transition: width 2s;
}
li.menu-item a:hover {
    border: 1px solid red !important;
    padding: 10px;
    transition-timing-function: ease-in-out;
    transition-timing-function: ease-in;
}
li.menu-item .active {
    /* width: 100% !important; */
    /* transition: width 2s; */
    color: red;
}