<template>
  <router-view></router-view>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addtohome {
    cursor: pointer;
    position: relative;
    bottom: 0;
    padding: 10px;
    background: #4db883;
}
li {
    list-style: none;
}
.question_ans_wrap {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 14px;
}
.ques {
    padding: 10px;
    text-align: left;
    font-weight: 900;
}
.ans {
    text-align: left;
    padding: 10px;
}
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
